# Multilinear Regression

In [27]:
import pandas as pd
import numpy as np
import matplotlib as plt
from sklearn.linear_model import LinearRegression

In [28]:
dataset=pd.read_csv("50_Startups_dataset.csv")

In [29]:
dataset

,Unnamed: 0,R&D Spend,Administration,Marketing Spend,State,Profit
0,0,165349.30,136897.90,471784.20,New York,192261.93
1,1,162597.80,151377.69,443898.63,California,191792.16
2,2,153441.61,101145.65,407934.64,Florida,191050.49
3,3,144372.51,118671.95,383199.72,New York,182902.09
4,4,142107.44,91391.87,366168.52,Florida,166188.04
5,5,131877.00,99814.81,362861.46,New York,156991.22
6,6,134615.56,147198.97,127716.92,California,156122.61
7,7,130298.23,145530.16,323876.78,Florida,155752.70
8,8,120542.62,148719.05,311613.39,New York,152211.87
9,9,123334.98,108679.27,304981.72,California,149760.06
10,10,101913.18,110594.21,229161.05,Florida,146122.05
11,11,100672.06,91790.71,249744.65,California,144259.50
12,12,93863.85,127320.48,249839.54,Florida,141585.62
13,13,91992.49,135495.17,252665.03,California,134307.45
14,14,119943.34,156547.52,256513.02,Florida,132602.75
15,15,114523.71,122616.94,261776.33,New York,129917.14
16,16,78013.21,121597.65,264346.16,California,126993.03
17,17,94657.26,145077.68,282574.41,New York,125370.47
18,18,91749.26,114175.89,294919.67,Florida,124267.00
19,19,86419.80,153514.21,0.10,New York,122776.96
20,20,76253.96,113867.40,298664.57,California,118474.13
21,21,78389.57,153773.53,299737.39,New York,111313.12
22,22,73994.66,122782.85,303319.36,Florida,110352.35
23,23,67532.63,105751.13,304768.83,Florida,108734.09
24,24,77044.11,99281.44,140574.91,New York,108552.14
25,25,64664.81,139553.26,137962.72,California,107404.44
26,26,75328.97,144136.08,134050.17,Florida,105733.64
27,27,72107.70,127864.65,353183.91,New York,105008.41
28,28,66051.62,182645.66,118148.30,Florida,103282.48
29,29,65605.58,153032.16,107138.48,New York,101004.74
30,30,61994.58,115641.38,91131.34,Florida,99937.69
31,31,61136.48,152702.02,88218.33,New York,97483.66
32,32,63408.96,129219.71,46085.35,California,97427.94
33,33,55494.05,103057.59,214634.91,Florida,96779.02
34,34,46426.17,157694.02,210797.77,California,96712.90
35,35,46014.12,85047.54,205517.74,New York,96479.61
36,36,28663.86,127056.31,201126.92,Florida,90708.29
37,37,44070.05,51283.24,197029.52,California,89949.24
38,38,20229.69,65948.03,185265.20,New York,81229.16
39,39,38558.61,82982.19,174999.40,California,81005.86
40,40,28754.43,118546.15,172795.77,California,78240.01
41,41,27893.02,84710.87,164470.81,Florida,77798.93
42,42,23641.03,96189.73,148001.21,California,71498.59
43,43,15505.83,127382.40,35534.27,New York,69759.08
44,44,22177.84,154806.24,28334.82,California,65200.43
45,45,1000.33,124153.14,1904.03,New York,64926.18
46,46,1315.56,115816.31,297114.56,Florida,49490.85
47,47,0.10,135427.02,0.10,California,42559.83
48,48,542.15,51743.25,0.10,New York,35673.51
49,49,0.10,116983.90,45173.16,California,14681.50

In [30]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       50 non-null     int64
 1   R&D Spend        50 non-null     float64
 2   Administration   50 non-null     float64
 3   Marketing Spend  50 non-null     float64
 4   State            50 non-null     object
 5   Profit           50 non-null     float64
dtypes: float64(4), int64(1), object(1)
memory usage: 2.5+ KB

In [31]:
dataset.columns

Index(['Unnamed: 0', 'R&D Spend', 'Administration', 'Marketing Spend', 'State',
       'Profit'],
      dtype='object')

In [32]:
y=dataset['Profit']

In [33]:
x=dataset[['R&D Spend', 'Administration', 'Marketing Spend']]

In [34]:
model=LinearRegression()

In [35]:
model.fit(x,y)

LinearRegression()

In [36]:
#we provide states with number coz they have some effect on the profit and in linear regression we can't use strings

In [37]:
state=dataset['State']

In [38]:
state

0       New York
1     California
2        Florida
3       New York
4        Florida
5       New York
6     California
7        Florida
8       New York
9     California
10       Florida
11    California
12       Florida
13    California
14       Florida
15      New York
16    California
17      New York
18       Florida
19      New York
20    California
21      New York
22       Florida
23       Florida
24      New York
25    California
26       Florida
27      New York
28       Florida
29      New York
30       Florida
31      New York
32    California
33       Florida
34    California
35      New York
36       Florida
37    California
38      New York
39    California
40    California
41       Florida
42    California
43      New York
44    California
45      New York
46       Florida
47    California
48      New York
49    California
Name: State, dtype: object

In [39]:
#One hot eencoding
final=pd.get_dummies(state,drop_first=True)

In [40]:
#Dummy variable trap is there as they are dependent on eachother

In [41]:
final

    Florida  New York
0         0         1
1         0         0
2         1         0
3         0         1
4         1         0
5         0         1
6         0         0
7         1         0
8         0         1
9         0         0
10        1         0
11        0         0
12        1         0
13        0         0
14        1         0
15        0         1
16        0         0
17        0         1
18        1         0
19        0         1
20        0         0
21        0         1
22        1         0
23        1         0
24        0         1
25        0         0
26        1         0
27        0         1
28        1         0
29        0         1
30        1         0
31        0         1
32        0         0
33        1         0
34        0         0
35        0         1
36        1         0
37        0         0
38        0         1
39        0         0
40        0         0
41        1         0
42        0         0
43        0         1
44        0         0
45        0         1
46        1         0
47        0         0
48        0         1
49        0         0

In [42]:
x

    R&D Spend  Administration  Marketing Spend
0   165349.30       136897.90        471784.20
1   162597.80       151377.69        443898.63
2   153441.61       101145.65        407934.64
3   144372.51       118671.95        383199.72
4   142107.44        91391.87        366168.52
5   131877.00        99814.81        362861.46
6   134615.56       147198.97        127716.92
7   130298.23       145530.16        323876.78
8   120542.62       148719.05        311613.39
9   123334.98       108679.27        304981.72
10  101913.18       110594.21        229161.05
11  100672.06        91790.71        249744.65
12   93863.85       127320.48        249839.54
13   91992.49       135495.17        252665.03
14  119943.34       156547.52        256513.02
15  114523.71       122616.94        261776.33
16   78013.21       121597.65        264346.16
17   94657.26       145077.68        282574.41
18   91749.26       114175.89        294919.67
19   86419.80       153514.21             0.10
20   76253.96       113867.40        298664.57
21   78389.57       153773.53        299737.39
22   73994.66       122782.85        303319.36
23   67532.63       105751.13        304768.83
24   77044.11        99281.44        140574.91
25   64664.81       139553.26        137962.72
26   75328.97       144136.08        134050.17
27   72107.70       127864.65        353183.91
28   66051.62       182645.66        118148.30
29   65605.58       153032.16        107138.48
30   61994.58       115641.38         91131.34
31   61136.48       152702.02         88218.33
32   63408.96       129219.71         46085.35
33   55494.05       103057.59        214634.91
34   46426.17       157694.02        210797.77
35   46014.12        85047.54        205517.74
36   28663.86       127056.31        201126.92
37   44070.05        51283.24        197029.52
38   20229.69        65948.03        185265.20
39   38558.61        82982.19        174999.40
40   28754.43       118546.15        172795.77
41   27893.02        84710.87        164470.81
42   23641.03        96189.73        148001.21
43   15505.83       127382.40         35534.27
44   22177.84       154806.24         28334.82
45    1000.33       124153.14          1904.03
46    1315.56       115816.31        297114.56
47       0.10       135427.02             0.10
48     542.15        51743.25             0.10
49       0.10       116983.90         45173.16

In [43]:
x[["Florida","California"]]=final

C:\Users\ayush\AppData\Local\Temp\ipykernel_8720\1911507227.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x[["Florida","California"]]=final
C:\Users\ayush\AppData\Local\Temp\ipykernel_8720\1911507227.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x[["Florida","California"]]=final

In [44]:
x

    R&D Spend  Administration  Marketing Spend  Florida  California
0   165349.30       136897.90        471784.20        0           1
1   162597.80       151377.69        443898.63        0           0
2   153441.61       101145.65        407934.64        1           0
3   144372.51       118671.95        383199.72        0           1
4   142107.44        91391.87        366168.52        1           0
5   131877.00        99814.81        362861.46        0           1
6   134615.56       147198.97        127716.92        0           0
7   130298.23       145530.16        323876.78        1           0
8   120542.62       148719.05        311613.39        0           1
9   123334.98       108679.27        304981.72        0           0
10  101913.18       110594.21        229161.05        1           0
11  100672.06        91790.71        249744.65        0           0
12   93863.85       127320.48        249839.54        1           0
13   91992.49       135495.17        252665.03        0           0
14  119943.34       156547.52        256513.02        1           0
15  114523.71       122616.94        261776.33        0           1
16   78013.21       121597.65        264346.16        0           0
17   94657.26       145077.68        282574.41        0           1
18   91749.26       114175.89        294919.67        1           0
19   86419.80       153514.21             0.10        0           1
20   76253.96       113867.40        298664.57        0           0
21   78389.57       153773.53        299737.39        0           1
22   73994.66       122782.85        303319.36        1           0
23   67532.63       105751.13        304768.83        1           0
24   77044.11        99281.44        140574.91        0           1
25   64664.81       139553.26        137962.72        0           0
26   75328.97       144136.08        134050.17        1           0
27   72107.70       127864.65        353183.91        0           1
28   66051.62       182645.66        118148.30        1           0
29   65605.58       153032.16        107138.48        0           1
30   61994.58       115641.38         91131.34        1           0
31   61136.48       152702.02         88218.33        0           1
32   63408.96       129219.71         46085.35        0           0
33   55494.05       103057.59        214634.91        1           0
34   46426.17       157694.02        210797.77        0           0
35   46014.12        85047.54        205517.74        0           1
36   28663.86       127056.31        201126.92        1           0
37   44070.05        51283.24        197029.52        0           0
38   20229.69        65948.03        185265.20        0           1
39   38558.61        82982.19        174999.40        0           0
40   28754.43       118546.15        172795.77        0           0
41   27893.02        84710.87        164470.81        1           0
42   23641.03        96189.73        148001.21        0           0
43   15505.83       127382.40         35534.27        0           1
44   22177.84       154806.24         28334.82        0           0
45    1000.33       124153.14          1904.03        0           1
46    1315.56       115816.31        297114.56        1           0
47       0.10       135427.02             0.10        0           0
48     542.15        51743.25             0.10        0           1
49       0.10       116983.90         45173.16        0           0

In [83]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split( x, y, test_size=0.20, random_state=1)

model= LinearRegression()
model.fit(x_train, y_train)
b=model.intercept_
c=model.coef_
print("Intercept=", b,"\nCoefficients=", c)

x_test
y_test_pred=model.predict(x_test)
y_test_pred

Intercept= 49549.72792199075
Coefficients= [ 7.74342081e-01 -9.44369585e-03  2.89183133e-02  5.82738646e+02
  2.72794662e+02]

array([114664.5171587 ,  90593.25531618,  75692.94151576,  70221.98679649,
       179790.3551487 , 171577.0201852 ,  49753.68752024, 102276.75888937,
        58649.47795765,  98272.12561132])

In [84]:
from sklearn import metrics

In [85]:
metrics.mean_absolute_error(y_test,y_test_pred)

7698.119817495865